html, body, img, div, h2, h1, h3, h4, h5, p, span{  
	font-family: 'versaversa', sans-serif;
	margin: 0;
	padding: 0; 
    color: white;
    
}

html {
	
	overflow: auto;
	height: auto;
	scroll-behavior: smooth;
	width: 100vw;
}






.hero {
    height: 1024px;
    width: 100%;
    background-color: #E9E9E9;
    /* background-image: url("../images/roda-samba1.jpeg"); */
    /* mudança da imagem de fundo do hero1 */
    background-image: url("../images/roda-samba2.jpeg");
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero2 {
    height: 1024px;
    width: 100%;
    background-color: #E9E9E9;
    background-image: url("../images/roda-samba2.jpeg");
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero2 h1{
    display: inline-flex;        
    font-size: 80px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.hero2 h2 {
    color: rgb(0, 0, 0);
    margin-right: 50px;
    font-size: 25px;
    text-align: right;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}


    .titulo {
        display: flex;
        justify-content: flex-end;
        margin-right: 50px;
        
    }

    .hero-text-1 {

        color: rgba(70, 212, 4, 1);

    }

    .hero-text-2 {
        color: rgba(227, 0, 191, 1);
    }

    .hero h1{
        display: inline-flex;        
        font-size: 80px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }

    .hero h2 {
        color: rgb(0, 0, 0);
        margin-right: 50px;
        font-size: 25px;
        text-align: right;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

    }











.principal {
    height: min 932px;
    background-color: rgba(96, 96, 96, 1);
    margin-left: auto;
    margin-right: auto;
    font-family: "Glegoo", serif;
    /* height: 600px; */
   

}




.text{
    padding-top: 80px;
    width: 681px;
    margin-left: auto;
    margin-right: auto;

    display: grid;
    

    grid-template-rows: 150px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    
    color: white;
    align-items: center;
}

    .text h1 {
        font-size: 30px;
        font-family: 'Roboto', sans-serif;
    }

    .texto-paragrafo {
        font-size: 30px;

    }

    

    .texto-numero-paragrafo {
        font-size: 50px;
        color: rgba(215, 211, 211, 1);
        

    }

    .botoes-add-remove{
        flex-direction: column;
        padding-bottom: 10px;

    }

.ipsum-containner{
    
    
    color: white;    
    height: auto;
    
    

}

    

    .ipsum-box {
        white-space: pre-wrap;
        width: 681px;
        height: auto;
        border-radius: 25px ;
        font-size: 25px;
        font-family: 'Roboto', sans-serif;        
        text-align:left;
        padding-top: 35px;
        padding-bottom: 35px;
        padding-left: 35px;
        padding-right: 35px;        
        margin-bottom: 20px;
        background-color: #ffffff;
        color: black;        
        margin-left: auto;
        margin-right: auto;       
        
    }

    .button-generate{
        background-color: #48D1CC ;
        color: #fff;
        border-radius: 35px; 
        border-color: #48D1CC ;     
        font-size: 20px;
        font-weight: bolder;
        
        cursor: pointer;
        height: 50px;
        width: 130px;
        justify-self: self-end;
        
       
    }
        


    .button-add-remove{
        background-color: rgb(0, 0, 0);
        border: none;
        color: rgb(161, 161, 161);
        font-size: 35px;   
        height: 30px;   
    }

    .button-copy-space {
        width: 681px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 80px;
    }











   
  
        
    .button {
        width: 111px;
        height: 65px;
        background: #47cf73;
        box-shadow: 0px 0px 16px #47cf73;
        border-radius: 20px;
        border-style: none;
        color: white;
        z-index: 3;
        line-height: 70px;
        cursor: pointer;
        transition: all 0.35s ease-in-out;
    }

    .button-gerar {
        width: 111px;
        height: 65px;
        background: #47cf73;
        box-shadow: 0px 0px 16px #47cf73;
        border-radius: 20px;
        border-style: none;
        color: white;
        z-index: 3;
        line-height: 70px;
        cursor: pointer;
        transition: all 0.35s ease-in-out;
    }

    .zeca {
        
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 200px;
        height: 200px;

    }

            
        
    

    .sun {
        
        width: 64px;
        height: 64px;
        
        background: linear-gradient(180deg, #ffdc2a 0%, #fb2182 41.54%);
        box-shadow: 0px 0px 36px #47cf73;
        z-index: 2;
        border-radius: 65px;
        transition: all 0.5s ease-in-out;
    }

    .sun:hover {
        bottom: 376px;
        transition: all 1s ease-in-out;
        box-shadow: 0px 0px 10px #ffdc2a;
    }

    

   


    .button:hover {
        bottom: 176px;
    
        box-shadow: 0px 0px 36px #c80de0;
        transition: all 0.35s ease-in-out;
    }
      


        
    
      
      



    .icon-btn {
        width: 50px;
        height: 50px;
        border: 1px solid #cdcdcd;
        background: white;
        border-radius: 25px;
        overflow: hidden;
        position: relative;
        transition: width 0.2s ease-in-out;
        transform: scale(0.7);
        cursor: pointer;
        
      }
      .add-btn:hover {
        width: 120px;
      }
      .add-btn::before,
      .add-btn::after {
        transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
        content: "";
        position: absolute;
        height: 4px;
        width: 10px;
        top: calc(50% - 2px);
        background: red;
      }
      .add-btn::after {
        right: 14px;
        overflow: hidden;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        
      }
      .add-btn::before {
        left: 14px;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        
      }
      .icon-btn:focus {
        outline: none;
      }
      .btn-txt {
        opacity: 0;
        color: black;
        transition: opacity 0.2s;
        font-size: 20px;
      }
      .add-btn:hover::before,
      .add-btn:hover::after {
        width: 4px;
        border-radius: 2px;
        display: none;
      }
      .add-btn:hover .btn-txt {
        opacity: 1;
      }
      .add-icon::after,
      .add-icon::before {
        transition: all 0.2s ease-in-out;
        content: "";
        position: absolute;
        height: 20px;
        width: 2px;
        top: calc(50% - 10px);
        background: red;
        overflow: hidden;
      }
      .add-icon::before {
        left: 22px;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
      }
      .add-icon::after {
        right: 22px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
      }
      .add-btn:hover .add-icon::before {
        left: 15px;
        height: 4px;
        top: calc(50% - 2px);
        display: none;
      }
      .add-btn:hover .add-icon::after {
        right: 15px;
        height: 4px;
        top: calc(50% - 2px);
        display: none;
      }
      
























    

.footer {

    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: 100px 1fr 100px;
    height: 92px;
    background-color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 100;
    
}

    .footer h3 {
        font-size: 20px;
        color: #ffffff;
        
        
    }

    .footer h3 a {
        text-decoration: none;
        margin-left: 7px;

    }

        
    .footer a {
        
        
        
        
    }

    .footer a img {
        height: 40px;
        width: 40px;
    }


    

/* ////////////////////////////////////////////////////////////////////////// */

   
    
@media only screen and (min-width: 1100px) and (max-width: 1300px){



    

    .hero2 {
        
        background-image: url("../images/roda-samba2.jpeg");
        background-repeat: no-repeat;
        background-position: -350px 0px ;
        
    }

    

    

    

       

}

@media only screen and (min-width: 730px) and (max-width: 1099px){

    .hero {
        background-position: -250px 0px ;
    }

    .hero2 {        
        background-position: -540px 0px ;
    }

    .hero h1{
        display: inline-flex;        
        font-size: 60px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }
    
    .hero h2 {
        
        margin-right: 50px;
        font-size: 20px;
        text-align: right;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .hero2 h1{
        display: inline-flex;        
        font-size: 60px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    .hero2 h2 {
        
        margin-right: 50px;
        font-size: 20px;
        text-align: right;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .text{
        padding-top: 20px;
        width: 600px;
        display: grid;
        grid-template-rows: 100px 100px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:  
        "texto-paragrafo texto-numero-paragrafo botoes-add-remove"
        "button-gerar button-gerar button-gerar";
    }

        .text h1 {
            font-size: 30px;
        }

        .texto-paragrafo{
            font-size: 25px;
            grid-area: texto-paragrafo;
        }

        

        .texto-numero-paragrafo {
            grid-area: texto-numero-paragrafo;
            font-size: 40px;
        }

        .botoes-add-remove{
            grid-area: botoes-add-remove;

        }

        .button-gerar {
            grid-area: button-gerar;
            width: 600px;
            height: 65px;
        }





    

    .ipsum-box {
        white-space: pre-wrap;
        width: 600px;
        height: auto;
        border-radius: 15px ;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;        
        text-align:left;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 5px;        
        margin-bottom: 20px;
        background-color: #ffffff;
        color: black;        
        margin-left: auto;
        margin-right: auto;       
        
    }


    


    


    .button-copy-space {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 80px;
        padding-left: 0px;
    }
}

@media only screen and (min-width: 550px) and (max-width: 729px){

    .hero {
        height: 724px;
        background-position: -350px 0px ;
        
    }

    .hero2 {  
        height: 724px;      
        background-position: -640px 0px ;
    }

    .hero h1{
        display: inline-flex;        
        font-size: 60px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }
    
    .hero h2 {
        
        margin-right: 50px;
        font-size: 20px;
        text-align: right;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .hero2 h1{
        display: inline-flex;        
        font-size: 60px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    .hero2 h2 {
        
        margin-right: 50px;
        font-size: 20px;
        text-align: right;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }



    .text{
        padding-top: 20px;
        width: 400px;
        display: grid;
        grid-template-rows: 100px 100px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:  
        "texto-paragrafo texto-numero-paragrafo botoes-add-remove"
        "button-gerar button-gerar button-gerar";
    }

        .text h1 {
            font-size: 30px;
        }

        .texto-paragrafo{
            font-size: 25px;
            grid-area: texto-paragrafo;
        }

        

        .texto-numero-paragrafo {
            grid-area: texto-numero-paragrafo;
            font-size: 40px;
        }

        .botoes-add-remove{
            grid-area: botoes-add-remove;

        }

        .button-gerar {
            grid-area: button-gerar;
            width: 400px;
            height: 65px;
        }





    

    .ipsum-box {
        white-space: pre-wrap;
        width: 400px;
        height: auto;
        border-radius: 15px ;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;        
        text-align:left;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 5px;        
        margin-bottom: 20px;
        background-color: #ffffff;
        color: black;        
        margin-left: auto;
        margin-right: auto;       
        
    }


    


    


    .button-copy-space {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 80px;
        padding-left: 0px;
    }

    .footer {

        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-rows: 1fr;
        grid-template-columns: 30px 1fr 80px;
        height: 72px;
        background-color: rgb(0, 0, 0);
        font-size: 17px;
        font-weight: 100;
        
    }
    
        .footer h3 {
            font-size: 17px;
            color: #ffffff;
            
            
        }
    
        .footer h3 a {
            text-decoration: none;
            margin-left: 7px;
    
        }
    
            
        
    
        .footer a img {
            height: 30px;
            width: 30px;
        }
}



@media only screen and (min-width: 400px) and (max-width: 549px){

    .hero {
        height: 724px;
        background-position: -350px 0px ;
        background-image: url("../images/roda-samba1.5.jpeg");
        background-color: #f5f5f5;
    }

    .hero2 {
        height: 724px;        
        background-position: -540px 0px ;
        background-image: url("../images/roda-samba2.5.jpeg");
        background-color: #f5f5f5;
    }

    .hero h1{
        display: inline-flex;        
        font-size: 50px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }
    
    .hero h2 {
        
        margin-right: 40px;
        font-size: 16px;
        text-align: right;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .hero2 h1{
        display: inline-flex;        
        font-size: 50px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    .hero2 h2 {
        
        margin-right: 40px;
        font-size: 16px;
        text-align: right;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .titulo {
        display: flex;
        justify-content: flex-end;
        margin-right: 40px;
        
    }

    .text{
        padding-top: 20px;
        width: 400px;
        display: grid;
        grid-template-rows: 100px 100px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:  
        "texto-paragrafo texto-numero-paragrafo botoes-add-remove"
        "button-gerar button-gerar button-gerar";
    }

        .text h1 {
            font-size: 30px;
        }

        .texto-paragrafo{
            font-size: 25px;
            grid-area: texto-paragrafo;
        }

        

        .texto-numero-paragrafo {
            grid-area: texto-numero-paragrafo;
            font-size: 40px;
        }

        .botoes-add-remove{
            grid-area: botoes-add-remove;

        }

        .button-gerar {
            grid-area: button-gerar;
            width: 400px;
            height: 65px;
        }





    

    .ipsum-box {
        white-space: pre-wrap;
        width: 400px;
        height: auto;
        border-radius: 15px ;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;        
        text-align:left;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 5px;        
        margin-bottom: 20px;
        background-color: #ffffff;
        color: black;        
        margin-left: auto;
        margin-right: auto;       
        
    }


    


    


    .button-copy-space {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 80px;
        padding-left: 0px;
    }

    .footer {

        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-rows: 1fr;
        grid-template-columns: 30px 1fr 80px;
        height: 72px;
        background-color: rgb(0, 0, 0);
        font-size: 17px;
        font-weight: 100;
        
    }
    
        .footer h3 {
            font-size: 13px;
            color: #ffffff;
            
            
        }
    
        .footer h3 a {
            text-decoration: none;
            margin-left: 7px;
    
        }
    
            
        
    
        .footer a img {
            height: 30px;
            width: 30px;
        }
    
}


@media only screen and (max-width: 399px){

    .hero {
        height: 724px;
        background-position: -350px 0px ;
        background-image: url("../images/roda-samba1.5.jpeg");
        background-color: #f5f5f5;
    }

    .hero2 {      
        height: 724px;  
        background-position: -540px 0px ;
        background-image: url("../images/roda-samba2.5.jpeg");
        background-color: #f5f5f5;
    }

    .hero h1{
        display: inline-flex;        
        font-size: 50px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }
    
    .hero h2 {
        
        margin-right: 40px;
        font-size: 16px;
        text-align: right;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .hero2 h1{
        display: inline-flex;        
        font-size: 50px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    .hero2 h2 {
        
        margin-right: 40px;
        font-size: 16px;
        text-align: right;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .titulo {
        display: flex;
        justify-content: flex-end;
        margin-right: 40px;
    }





    .text{
        padding-top: 20px;
        width: 330px;
        display: grid;
        grid-template-rows: 100px 100px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:  
        "texto-paragrafo texto-numero-paragrafo botoes-add-remove"
        "button-gerar button-gerar button-gerar";
    }

        .text h1 {
            font-size: 30px;
        }

        .texto-paragrafo{
            font-size: 25px;
            grid-area: texto-paragrafo;
        }

        

        .texto-numero-paragrafo {
            grid-area: texto-numero-paragrafo;
            font-size: 40px;
        }

        .botoes-add-remove{
            grid-area: botoes-add-remove;

        }

        .button-gerar {
            grid-area: button-gerar;
            width: 330px;
            height: 65px;
        }


       


    

    .ipsum-box {
        white-space: pre-wrap;
        width: 330px;
        height: auto;
        border-radius: 15px ;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;        
        text-align:left;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 5px;        
        margin-bottom: 20px;
        background-color: #ffffff;
        color: black;        
        margin-left: auto;
        margin-right: auto;       
        
    }






    .button-copy-space {
        width: 330px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 80px;
        padding-left: 20px;
        padding-left: 0px;
    }

    .footer {

        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-rows: 1fr;
        grid-template-columns: 30px 1fr 80px;
        height: 72px;
        background-color: rgb(0, 0, 0);
        font-size: 17px;
        font-weight: 100;
        
    }
    
        .footer h3 {
            font-size: 13px;
            color: #ffffff;
            
            
        }
    
        .footer h3 a {
            text-decoration: none;
            margin-left: 7px;
    
        }
    
        .footer a img {
            height: 30px;
            width: 30px;
        }



}